@import "./form";
@import "./buttons";

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(./img/background.jpg) center no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.seo {
  visibility: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.logo {
  position: absolute;
  width: 162x;
  height: 48px;
  left: 17%;
  top: 33%;
}

.none {
  display: none;
}
